Accessing Values in Tuples

In [1]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5, 6, 7 );
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

Updating Tuples

In [6]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');

# Following action is not valid for tuples
# tup1[0] = 100;

# So let's create a new tuple as follows
tup3 = tup1 + tup2;
print (tup3);

(12, 34.56, 'abc', 'xyz')

Delete Tuple Elements

In [5]:
tup = ('physics', 'chemistry', 1997, 2000);
print (tup);
del tup;
print ("After deleting tup : ");
print (tup);

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: name 'tup' is not defined

Note âˆ’ an exception raised, this is because after del tup tuple does not exist anymore.

Basic Tuples Operations
| Python Expression           | Results                           | Description       |
|-----------------------------|-----------------------------------|-------------------|
| `len((1, 2, 3))`            | `3`                               | Length            |
| `(1, 2, 3) + (4, 5, 6)`      | `(1, 2, 3, 4, 5, 6)`               | Concatenation     |
| `('Hi!',) * 4`              | `('Hi!', 'Hi!', 'Hi!', 'Hi!')`    | Repetition        |
| `3 in (1, 2, 3)`            | `True`                            | Membership        |
| `for x in (1, 2, 3): print x`| `1 2 3`                           | Iteration         |